.main {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--pure-white);
}

.innerContainer {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionContainer {
  min-height: 40rem;
  width: min(160vh, 85vw);
  padding-top: 5rem;
  display: flex;
}

.textBox {
  flex: 1;
  flex-basis: 20rem;
}

.header {
  font-size: 4rem;
  font-variation-settings: 'wght' 500;
  margin-bottom: 2rem;
}

.text {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-variation-settings: 'wght' 450;
}

.orbsBox {
  position: relative;
  flex: 1;
}

.orb {
  --orbSize: 10rem;
  width: var(--orbSize);
  height: var(--orbSize);
  position: absolute;
  border-radius: 1000vw;
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange) 0%,
    var(--swerve-yellow) 100%
  );
}

.orbsBox .orb:nth-of-type(1) {
  --orbSize: 10vw;
}

.orbsBox .orb:nth-of-type(2) {
  --orbSize: 35vw;
  bottom: 0;
  left: 5vw;
}

.memberContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 6rem 1fr;
}

.headshotContainer {
  grid-area: 2 / 1 / 2 / 1;
  padding-right: 1rem;
}

.headshot {
  width: 100%;
  height: 100%;
  border-radius: 1000vw;
  background-image: url('/images/headshot.jpg');
  background-size: cover;
  background-position: center;
}

.memberHeaderContainer {
  grid-area: 1 / 2 / 1 / 2;
}

.memberName {
  font-size: 4rem;
  font-variation-settings: 'wght' 700;
  color: var(--grey);
}

.memberTitle {
  font-size: 2.5rem;
  font-variation-settings: 'wght' 500;
  margin-left: 15rem;
  transform: translate(0, -60%);
  color: var(--pure-black);
}

.memberDescription {
  grid-area: 2 / 2 / 2 / 2;
}
