.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--pure-white);
  display: grid;
}

.innerContainer {
  place-self: start center;
  width: min(150vh, 100vw);
  height: 100vh;
  background-color: aqua;
}
