.main {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--pure-white);
}

.innerContainer {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionContainer {
  position: relative;
  min-height: 40rem;
  padding-top: 5rem;
  display: flex;
}

.textBox {
  flex: 1;
  flex-basis: 20rem;
}

.orbsBox {
  position: relative;
  flex: 1;
}

.orb {
  z-index: 1;
  --orbSize: 10rem;
  width: var(--orbSize);
  height: var(--orbSize);
  position: absolute;
  border-radius: 1000vw;
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange) 0%,
    var(--swerve-yellow) 100%
  );
}

.orbsBox .orb:nth-of-type(1) {
  --orbSize: 10vw;
}

.orbsBox .orb:nth-of-type(2) {
  --orbSize: 35vw;
  bottom: 0;
  left: 5vw;
}

/* Member section */
.memberContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 6rem 1fr;
  margin-bottom: 4rem;
}

.headshotContainer {
  grid-area: 2 / 1 / 2 / 1;
  padding-right: 1rem;
}

.headshot {
  border-radius: 1000vw;
}

.memberHeaderContainer {
  grid-area: 1 / 2 / 1 / 2;
}

.memberName {
  font-size: 4rem;
  font-variation-settings: 'wght' 700;
  color: var(--grey);
}

.memberTitle {
  font-size: 2.5rem;
  font-variation-settings: 'wght' 500;
  margin-left: 15rem;
  transform: translate(0, -60%);
  color: var(--pure-black);
}

.memberDescription {
  grid-area: 2 / 2 / 2 / 2;
}

@media screen and (max-width: 50rem) {
  .memberContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 19rem 6rem 1fr;
  }

  .headshotContainer {
    height: 100%;
    padding-right: 0;
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
  }

  .memberHeaderContainer {
    grid-area: 2 / 1 / 3 / 2;
  }

  .memberDescription {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.sectionContainer > .orb:nth-of-type(1) {
  --orbSize: 5vw;
  top: 0%;
  left: -10vw;
}

.sectionContainer > .orb:nth-of-type(2) {
  --orbSize: 20vw;
  top: 10%;
  left: 70vw;
}

.sectionContainer > .orb:nth-of-type(3) {
  --orbSize: 15vw;
  top: 55%;
  left: -15vw;
}

.sectionContainer > .orb:nth-of-type(4) {
  --orbSize: 30vw;
  bottom: -5vw;
  left: 80vw;
}
