.sectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 50rem) {
  .sectionContainer {
    margin-top: 4rem;
  }

  .contactDetails {
    flex-direction: column;
  }

  .contactContainer {
    margin-bottom: 2rem;
  }
}

.contactTitle {
  margin-top: 1rem;
  color: var(--grey);
}

.sectionContainer > :global(.orb):nth-of-type(1) {
  --orbSize: min(10vw, 8rem);
  top: -20vh;
  left: 15vw;
}

.sectionContainer > :global(.orb):nth-of-type(2) {
  --orbSize: min(40vw, 35rem);
  bottom: 100%;
  right: -5vw;
}

.sectionContainer > :global(.orb):nth-of-type(3) {
  --orbSize: min(30vw, 25rem);
  bottom: 50%;
  right: 95%;
}

.sectionContainer > :global(.orb):nth-of-type(4) {
  --orbSize: min(20vw, 18rem);
  top: 60%;
  left: min(85vw, 110rem);
}

.sectionContainer > :global(.orb):nth-of-type(5) {
  --orbSize: min(15vw, 13rem);
  top: 120%;
  right: min(85vw, 110rem);
}

.sectionContainer > :global(.orb):nth-of-type(6) {
  --orbSize: min(35vw, 30rem);
  bottom: -70vh;
  right: 5vw;
}
