.sectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 0.5rem;
}

.header2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  --formSubmit: rgb(20, 247, 50);
  width: 100%;
  color: var(--pure-black);
  font-size: min(7vw, 5rem);
  font-variation-settings: 'wght' 500;
  background-color: var(--pure-white);
  border-width: 0 0 0.25rem 0;
  border-color: var(--grey);
  transition: border-color 0.2s ease-in-out 0s;
}

.input:focus {
  outline: none;
  border-color: var(--swerve-orange);
}

.input::placeholder {
  color: var(--grey);
}

.button {
  width: min(7vw, 5rem);
  height: min(7vw, 5rem);
  border: none;
  background-color: transparent;
}

.statusText {
  margin-top: 0.8rem;
  font-size: 1.25rem;
  font-variation-settings: 'wght' 400;
  height: 1.5rem;
}

.caption {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-variation-settings: 'wght' 300;
  color: var(--pure-black);
}

.sectionContainer > :global(.orb):nth-of-type(1) {
  --orbSize: min(10vw, 8rem);
  top: -20vh;
  left: 15vw;
}

.sectionContainer > :global(.orb):nth-of-type(2) {
  --orbSize: min(40vw, 35rem);
  bottom: 100%;
  right: -5vw;
}

.sectionContainer > :global(.orb):nth-of-type(3) {
  --orbSize: min(30vw, 25rem);
  bottom: 50%;
  right: 102%;
}

.sectionContainer > :global(.orb):nth-of-type(4) {
  --orbSize: min(20vw, 18rem);
  top: 50%;
  left: min(88vw, 150vh);
}

.sectionContainer > :global(.orb):nth-of-type(5) {
  --orbSize: min(18vw, 14rem);
  top: 100%;
  right: min(70vw, 100rem);
}

.sectionContainer > :global(.orb):nth-of-type(6) {
  --orbSize: min(35vw, 30rem);
  top: 110%;
  right: 5vw;
}
