@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont.ttf) format('truetype');
}

:root {
  /* Color Scheme */
  --swerve-orange: #ffb800;
  --swerve-yellow: #fff201;
  --pure-white: #f6f6f6;
  --pure-black: #452e2e;
  --accent-red: #ff3d00;
  --grey: #bebebe;
  --lightGrey: #d9d9d9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.accentText {
  background: linear-gradient(
    45deg,
    var(--accent-red),
    var(--swerve-orange),
    var(--accent-red),
    var(--swerve-orange),
    var(--accent-red)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-size: 400% 400%;
  animation: swirl 15s ease-in-out infinite;
}

@keyframes swirl {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
