@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont.ttf) format('truetype');
}

:root {
  /* Color Scheme */
  --swerve-orange: #ffb800;
  --swerve-yellow: #faff01;
  --pure-white: #f6f6f6;
  --pure-black: #452e2e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
