@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
