.main {
  min-height: 100vh;
  background-color: var(--pure-white);
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: var(--pure-black);
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: #ff3d00;
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange),
    var(--swerve-yellow)
  );
  z-index: 1;

  animation: 1.8s cubic-bezier(0.25, 1, 0.3, 1) wipe both;
  animation-delay: 1s;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  font-variation-settings: 'wght' 800;
  font-size: 14rem;
  white-space: nowrap;
}

.blur {
  color: transparent;
  animation: 1s ease-in unblur both;
}

@keyframes unblur {
  0% {
    text-shadow: 0 0 49px var(--pure-black);
  }
  100% {
    text-shadow: 0 0 0px var(--pure-black);
  }
}

.circle {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--pure-white);
  z-index: 2;

  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
  animation-delay: 1.3s;
}

@keyframes wipe {
  from {
    clip-path: circle(0% at bottom);
  }
  to {
    clip-path: circle(125% at bottom);
  }
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0% at bottom);
  }
  to {
    clip-path: circle(55% at bottom);
  }
}

.phones {
  position: absolute;
  display: flex;
  width: 42vh;
  height: 40%;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.phone1 {
  height: 40vh;
  width: 15vh;
  position: absolute;
  left: 0;
}
.phone2 {
  height: 40vh;
  width: 15vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30%;
  z-index: 1;
}
.phone3 {
  height: 40vh;
  width: 15vh;
  position: absolute;
  right: 0;
  top: 10%;
}
