.main {
  min-height: 100vh;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: var(--pure-black);
  background-color: var(--pure-white);
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: var(--accent-red);
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange),
    var(--swerve-yellow)
  );
  z-index: 1;

  --clip: 150%;
  clip-path: circle(var(--clip) at bottom);
}

.title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);

  font-variation-settings: 'wght' 800;
  font-size: min(14rem, 20vw);
  white-space: nowrap;
  z-index: 1;

  --blur: 0;
  filter: blur(var(--blur));
}

.header {
  font-variation-settings: 'wght' 500;
  font-size: min(7rem, 11vw);
  color: var(--pure-black);
  text-align: center;

  --blur: 0;
  filter: blur(var(--blur));
}

.circle {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--pure-white);
  z-index: 2;

  --clip: 0;
  clip-path: circle(var(--clip) at bottom);
}
.circle .title {
  z-index: 3;
}

.sceneContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: absolute;
}

.transitionContainer {
  position: absolute;
  width: 100%;
  z-index: 4;
}

/* Phones */

.displayPhoneContainer {
  position: absolute;
  display: flex;
  width: 42vh;
  height: 40%;
  bottom: 31%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.displayPhone {
  height: 40vh;
  width: 15vh;
  position: absolute;
}

.phone1 {
  left: 0;
}
.phone2 {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  z-index: 1;
}
.phone3 {
  right: 0;
  top: 10%;
}

/* Caption */

.captionContainer {
  top: 85%;
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
}

.caption {
  text-align: center;
  font-size: 2rem;
  color: var(--pure-black);
  opacity: 1;
  margin-top: 1rem;
  --blur: 0;
  filter: blur(var(--blur));
}

/* Map */
.mapScene {
  --wipe: 0%;
  clip-path: inset(0 0 var(--wipe) 0);

  z-index: 2;
  background-color: var(--pure-white);
}

.mapContainer {
  display: grid;
  position: relative;
}

.mapTextContainer {
  position: absolute;
  top: 20%;
  left: 8%;
  width: min(55rem, 84vw);
  z-index: 3;
}

.mapVector {
  height: 110vh;
  fill: none;
  place-self: center;
}

.mapLine {
}

.mapLineMain {
  stroke-dasharray: 2350px;
  stroke-dashoffset: 2350px;
  stroke: var(--pure-black);
}

.mapLineSecondary {
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
}

.buildings > rect {
  fill: var(--grey);
}

.dropper {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.2));
  opacity: 0;
}

/* Balloons */
.balloonScene {
}

.boundingContainer {
  position: relative;
  display: grid;
  height: 100vh;
  width: min(100vw, 192vh);
}

.balloonTextContainer {
  top: 20%;
  right: 8%;
  width: min(52rem, 84vw);
  position: absolute;
  z-index: 1;
}

.balloonVector {
  position: absolute;
  width: 100%;
  transform: translate(0, 100vh);
}

.balloonVectorText {
  fill: var(--pure-white);
  font-size: 6rem;
  font-variation-settings: 'wght' 500;
  text-align: center;
}

.balloonHoldingContainer {
  place-self: left;
  width: max(40%, 30rem);
  height: 100%;
  position: relative;
}

.transitionContainer .balloonVector:nth-last-of-type(1) {
  height: 250vw;
  right: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(2) {
  height: 200vw;
  left: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(3) {
  height: 150vw;
  right: 50%;
}

.transitionContainer .balloonVector:nth-last-of-type(4) {
  height: 150vw;
  left: 25%;
}

.transitionContainer .balloonVector:nth-last-of-type(5) {
  height: 110vw;
  right: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(6) {
  height: 110vw;
  left: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(7) {
  height: 100vw;
  left: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(8) {
  height: 100vw;
  right: 40%;
}

.transitionContainer .balloonVector:nth-last-of-type(9) {
  height: 80vw;
  right: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(10) {
  height: 80vw;
  left: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(11) {
  height: 70vw;
  left: 35%;
}

.transitionContainer .balloonVector:nth-last-of-type(12) {
  height: 70vw;
  right: 45%;
}

.transitionContainer .balloonVector:nth-last-of-type(13) {
  height: 50vw;
  left: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(14) {
  height: 50vw;
  right: 45%;
}

.transitionContainer .balloonVector:nth-last-of-type(15) {
  height: 40vw;
  right: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(16) {
  height: 40vw;
  left: 25%;
}

.transitionContainer .balloonVector:nth-last-of-type(17) {
  height: 30vw;
  right: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(18) {
  height: 30vw;
  left: 15%;
}

.transitionContainer .balloonVector:nth-last-of-type(19) {
  height: 30vw;
  left: 20%;
}
