.main {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange),
    var(--swerve-yellow)
  );
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: #ff3d00;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  font-variation-settings: 'wght' 600;
  font-size: 14rem;
  z-index: 2;
  white-space: nowrap;
}

.circle {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--pure-white);
  color: var(--pure-black);
  z-index: 2;

  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0% at bottom);
  }
  to {
    clip-path: circle(60% at bottom);
  }
}
