.main {
  min-height: 100vh;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: var(--pure-black);
  background-color: var(--pure-white);
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  color: var(--accent-red);
  background-image: linear-gradient(
    45deg,
    var(--swerve-orange),
    var(--swerve-yellow)
  );
  z-index: 1;

  --clip: 150%;
  clip-path: circle(var(--clip) at bottom);
}

.title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);

  font-variation-settings: 'wght' 800;
  font-size: min(14rem, 20vw);
  white-space: nowrap;
  z-index: 1;

  --blur: 0;
  filter: blur(var(--blur));
}

.header {
  font-variation-settings: 'wght' 500;
  font-size: min(7rem, 11vw);
  color: var(--pure-black);
  text-align: center;

  --blur: 0;
  filter: blur(var(--blur));
}

.circle {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--pure-white);
  z-index: 2;

  --clip: 0;
  clip-path: circle(var(--clip) at bottom);
}
.circle .title {
  z-index: 3;
}

.sceneContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: absolute;
}

.transitionContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: grid;
}

/* Phones */

.displayPhoneContainer {
  position: absolute;
  display: flex;
  width: 42vh;
  height: 40%;
  bottom: 31%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.displayPhone {
  height: 40vh;
  width: 15vh;
  position: absolute;
}

.phone1 {
  left: 0;
}
.phone2 {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  z-index: 1;
}
.phone3 {
  right: 0;
  top: 10%;
}

/* Caption */

.captionContainer {
  top: 85%;
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
}

.caption {
  text-align: center;
  font-size: 2.5rem;
  color: var(--pure-black);
  opacity: 1;
  margin-top: 1rem;
  --blur: 0;
  filter: blur(var(--blur));
}

.accentText {
  background: linear-gradient(
    45deg,
    var(--accent-red),
    var(--swerve-orange),
    var(--accent-red),
    var(--swerve-orange)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: 0%;
  animation: swirl 3s linear 0s infinite normal;
}

@keyframes swirl {
  to {
    background-position: 100%;
  }
}

/* Map */
.mapScene {
  --wipe: 0%;
  clip-path: inset(0 0 var(--wipe) 0);

  z-index: 2;
  background-color: var(--pure-white);
}

.mapContainer {
  display: grid;
  position: relative;
}

.mapTextContainer {
  position: absolute;
  top: 20%;
  left: 8%;
  width: min(55rem, 84vw);
  z-index: 3;
}

.mapVector {
  height: 110vh;
  fill: none;
  place-self: center;
}

.mapLine {
}

.mapLineMain {
  stroke-dasharray: 2350px;
  stroke-dashoffset: 2350px;
  stroke: var(--pure-black);
}

.mapLineSecondary {
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
}

.buildings > rect {
  fill: var(--grey);
}

.dropper {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.2));
  opacity: 0;
}

/* Balloons */
.balloonScene {
  --wipe: 0%;
  clip-path: inset(var(--wipe) 0);
}

.boundingContainer {
  position: relative;
  display: grid;
  height: 100vh;
  width: min(100vw, 192vh);
}

.balloonTextContainer {
  top: 20%;
  right: 8%;
  width: min(52rem, 84vw);
  position: absolute;
  z-index: 1;
}

.balloonVector {
  position: absolute;
  width: 100%;
  transform: translate(0, 100vh);
}

.balloonVectorText {
  fill: var(--pure-white);
  font-size: 6rem;
  font-variation-settings: 'wght' 500;
  text-align: center;
}

.balloonHoldingContainer {
  place-self: left;
  width: max(40%, 30rem);
  height: 100%;
  position: relative;
}

.transitionContainer .balloonVector:nth-last-of-type(1) {
  height: 250vw;
  right: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(2) {
  height: 200vw;
  left: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(3) {
  height: 150vw;
  right: 50%;
}

.transitionContainer .balloonVector:nth-last-of-type(4) {
  height: 150vw;
  left: 25%;
}

.transitionContainer .balloonVector:nth-last-of-type(5) {
  height: 110vw;
  right: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(6) {
  height: 110vw;
  left: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(7) {
  height: 100vw;
  left: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(8) {
  height: 100vw;
  right: 40%;
}

.transitionContainer .balloonVector:nth-last-of-type(9) {
  height: 80vw;
  right: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(10) {
  height: 80vw;
  left: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(11) {
  height: 70vw;
  left: 35%;
}

.transitionContainer .balloonVector:nth-last-of-type(12) {
  height: 70vw;
  right: 45%;
}

.transitionContainer .balloonVector:nth-last-of-type(13) {
  height: 50vw;
  left: 10%;
}

.transitionContainer .balloonVector:nth-last-of-type(14) {
  height: 50vw;
  right: 45%;
}

.transitionContainer .balloonVector:nth-last-of-type(15) {
  height: 40vw;
  right: 20%;
}

.transitionContainer .balloonVector:nth-last-of-type(16) {
  height: 40vw;
  left: 25%;
}

.transitionContainer .balloonVector:nth-last-of-type(17) {
  height: 30vw;
  right: 30%;
}

.transitionContainer .balloonVector:nth-last-of-type(18) {
  height: 30vw;
  left: 15%;
}

.transitionContainer .balloonVector:nth-last-of-type(19) {
  height: 30vw;
  left: 20%;
}

/* Catalog */
.catalog {
  width: 10vh;
  height: 12.5vh;
  background-color: var(--pure-white);
  border-radius: 0.5vh;
  border-width: 0.5vh;
  border-style: solid;
  border-color: #c8c8c8;
}

.catalogRowGroup {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform-origin: center;
  width: 125vh;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.catalogRow {
  display: flex;
  flex-direction: column;
}

.catalogTransitionBackground {
  --merchant-color: red;
  --customer-color: blue;
  --wipe: 50%;
  --rotate: 0deg;
  height: 100%;
  width: 100%;
  /* Gradient made so that wipe will open from inside out */
  background-image: linear-gradient(
    var(--rotate),
    var(--merchant-color) 0%,
    var(--merchant-color) calc(50% - var(--wipe)),
    transparent calc(50% - var(--wipe)),
    transparent calc(var(--wipe) + 50%),
    var(--customer-color) calc(var(--wipe) + 50%),
    var(--customer-color) 100%
  );
}

.catalogText {
  position: absolute;
  display: flex;
  font-size: min(14vw, 20vh);
  font-variation-settings: 'wght' 900;
  width: max-content;
  white-space: nowrap;
  background-color: aqua;
}

.catalogText p {
  position: relative;
  display: inline-block;
  color: white;
  height: 0;
}

.customer {
  right: 10%;
  top: 10vh;
  transform: translate(0, -50vh);
  background-color: blue;
}

.merchant {
  left: 10%;
  bottom: 30vh;
  transform: translate(0, 50vh);
  background-color: red;
}

.catalogText p:nth-of-type(1) {
  position: absolute;
  background-color: inherit;
  height: auto;
  padding: 0vh;
  z-index: 5;
}

.catalogText p.anchor {
}

.catalogInnerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1vh;
}

.catalogWindow {
  background-color: var(--grey);
  height: 6vh;
  padding: 0.5vh;
}

.catalogImage {
  display: block;
  width: 100%;
  height: 100%;
}

.catalogName {
  font-size: 1vh;
  font-variation-settings: 'wght' 500;
  margin-top: 0.5vh;
  color: var(--pure-black);
}

.catalogPrice {
  font-size: 1vh;
  font-variation-settings: 'wght' 700;
  color: var(--pure-black);
}

.catalogDescription {
  height: 0.35vh;
  background-color: var(--grey);
  margin-top: 0.2vh;
}
