.logo {
  transition: rotate 0.5s ease-in-out 0.4s;
}

.logo:hover {
  rotate: -360deg;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;

  list-style: none;
  z-index: 100;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation li {
  display: inline;
  padding: 0.5rem;
}

.navigation li a {
  overflow: hidden;
  display: inline-block;
}

.navigation a p {
  white-space: nowrap;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-variation-settings: 'wght' 500;
}

.navigation a span {
  background-color: white;
  display: block;
  height: 0.15rem;
  width: 0%;
}
