.logo {
  transition: rotate 0.5s ease-in-out 0.4s;
}

.logo:hover {
  rotate: -360deg;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;

  list-style: none;
  z-index: 100;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation li {
  display: inline;
  padding: 0.5rem;
}

.navigation a p {
  white-space: nowrap;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-variation-settings: 'wght' 500;
}

.navigation a span {
  background-color: white;
  display: block;
  height: 0.15rem;
  width: 0%;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
