/* Navigation Bar */
.navbar {
  --nav-color: var(--pure-black);
  display: flex;
  position: fixed;
  list-style: none;
  z-index: 100;
  width: 100vw;
}

.logoContainer {
  display: inline;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.5rem;
  transition: rotate 0.5s ease-in-out 0s;
}

.logoComponent {
  fill: var(--nav-color);
}

.logo:hover {
  rotate: -360deg;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation li {
  display: inline;
  padding: 0 0.5rem;
}

.navigation li a {
  overflow: hidden;
  display: inline-block;
}

.navigation a p {
  white-space: nowrap;
  display: inline-block;
  color: var(--nav-color);
  font-size: 1.2rem;
  font-variation-settings: 'wght' 500;
}

.navigation a span {
  background-color: var(--nav-color);
  display: block;
  height: 0.15rem;
  width: 0%;
}

/* Menu */
.menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  --gradientSpot: 25%;
  background-image: linear-gradient(
    45deg,
    var(--accent-red) 0%,
    var(--swerve-orange) var(--gradientSpot),
    var(--swerve-orange) calc(var(--gradientSpot) + 5%),
    var(--accent-red) 100%
  );
  z-index: 2000;

  --clip: 0vh;
  clip-path: circle(var(--clip) at 90% 5%);
}

.menu ul {
  margin-top: 5vh;
  height: 23vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform-origin: top;
  scale: 4;
}

.menu li a p {
  font-size: 4.5vw;
  color: var(--pure-white);
}

.menu li a span {
  background-color: var(--pure-white);
}

.menuButtonContainer {
  margin-right: 2rem;
  display: none;
  align-items: center;
}

.menuButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
}

.menuButtonLine {
  display: block;
  width: 90%;
  height: 0.23rem;
  border-radius: 0.2rem;
  background-color: var(--nav-color);
  transform-origin: 0;
}

/* Add menu instead of navbar after certain aspect ratio */
@media screen and (max-width: 85vh) {
  .menu {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .menuButtonContainer {
    display: flex;
  }
}

/* Language Button */
.languageButtonContainer {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.languageButton {
  cursor: pointer;
  height: 2rem;
  width: 2.5rem;

  font-size: 1.2rem;
  font-family: 'Inter';
  font-variation-settings: 'wght' 500;
  color: var(--nav-color);

  border-width: 0.2rem;
  border-style: solid;

  background-color: transparent;
  border-color: var(--nav-color);
}

.languageButton.selected {
  background-color: var(--nav-color);
  color: var(--swerve-orange);
}
